.navbar-expand-lg {
  background-color: #bfafef;
  padding: 0;
}

.navbar-brand {
  padding: 0;
  margin-right: 0;
}

@media only screen and (min-width: 900px) {
  .navbar-collapse {
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    margin-left: 72%;
  }
}

.logo_nav {
  width: 15%;
  height: 25%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .logo_nav {
    width: 40%;
    height: 60%;
  }
}
.navbar-toggler {
  border: 0px;
}
.rest-nav {
  padding: 2%;
}
/* .rest-nav button {
  font-size: 1rem;
  font-weight: 500;
  background-color: #330656;
  color: #fff;
  border: 0;
} */
/* @media screen and (max-width: 600px) {
  .rest-nav button {
    font-size: 0.5rem;
    font-weight: 500;
    background-color: #44207a;
    color: #fff;
  }
} */

.title-cover-photo {
  height: 100%;
  width: 100%;
  background-color: #44207a;
  padding-bottom: 4%;
}

.cover-photo {
  margin-top: 6%;
  height: 100%;
  width: 100%;
}

.title-cover-photo .part-1 {
  padding: 8%;
  padding-bottom: 4%;
  font-size: 700%;
  color: white;
  font-family: cursive;
}

.tagline {
  font-size: 40%;
  color: #bfafef;
  font-family: "dancing script", cursive;
}

@media screen and (max-width: 600px) {
  .title-cover-photo .part-1 {
    margin-top: 1%;
    height: 100%;
    width: 100%;
  }
  .title-cover-photo {
    padding-bottom: 20%;
  }
  .title-cover-photo{
    height: 110%;
    width: 100%;
  }
}


/* CSS */
.button-74 {
  background-color: #bfafef;
  border: 2px solid #44207a;
  border-radius: 30px;
  box-shadow: #2b095d 4px 4px 0 0;
  color: #44207a;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #986bdc;
  color: #bfafef;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.button-signup{
  margin-left: 2%;
}

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #44207a;
}

.buy-books-section{
  background-color: #bfafef;
  /* background-color: #fff; */
  height: 100%;
  width: 100%;
  /* padding-bottom: 4%; */
}

.buy-books-section-photo{
  height: 100%;
  width: 80%;
}

.buy-books-section .part-1 {
  padding: 8%;
  padding-bottom: 4%;
  font-size: 500%;
  color: #44207a;
  font-family: cursive;
}

.buy-books-section .tagline {
  font-size: 40%;
  color: #44207a;
  font-family: "dancing script", cursive;
}

@media screen and (max-width: 600px) {
  .buy-books-section .part-1 {
    margin-top: 1%;
    height: 100%;
    width: 100%;
  }
  .buy-books-section {
    padding-bottom: 20%;
  }
  .buy-books-section-photo{
    height: 120%;
    width: 110%;
  }
  
}

/* Sell Books Section */

.sell-books-section{
  background-color: #44207a;
  /* background-color: #fff; */
  height: 100%;
  width: 100%;
  /* padding-bottom: 4%; */
}

.sell-books-section-photo{
  height: 100%;
  width: 80%;
}

.sell-books-section .part-1 {
  padding: 8%;
  padding-bottom: 4%;
  font-size: 500%;
  color: #bfafef;
  font-family: cursive;
}

.sell-books-section .tagline {
  font-size: 40%;
  color: #bfafef;
  font-family: "dancing script", cursive;
}

@media screen and (max-width: 600px) {
  .sell-books-section .part-1 {
    margin-top: 1%;
    height: 100%;
    width: 100%;
  }
  .sell-books-section {
    padding-bottom: 20%;
  }
}