/* .modal{
    background-color: #bfafef;
} */

.image_modal_div {
  background-color: #32174d;
}

.image_modal_div img {
  max-width: 60%;
  max-width: 80%;
  padding-top: 10%;
  padding-left: 4%;
}

@media screen and (min-width: 1100px) {
  .image_modal_div {
    position: relative;
    /* overflow: hidden; */
  }

  .image_modal_div img {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
  }
}

@media screen and (max-width: 600px) {
  .image_modal_div img {
    height: 90%;
    width: 60%;
    margin-left: 20%;
  }
}

.modal-header,
.modal-footer {
  background-color: #9370db;
  color: #32174d;
}
.modal-body {
  padding: 0;
  overflow-x: hidden;
  background-color: #bfafef;
}

.btn-secondary {
  background-color: #32174d;
  color: #fff;
  border: 2px solid #32174d;
}

.btn-secondary:hover {
  background-color: #9370db;
  color: #32174d;
  border: 2px solid #32174d;
}

.details_modal_div {
  padding: 3%;
  color: #32174d;
}

@media screen and (max-width: 600px) {
  .details_modal_div {
    padding: 6%;
  }
}

.modal {
  backdrop-filter: blur(10px);
  /* background-color: #01223770; */
  background-color: 32174d;
}

.card-img-div,
.card-body {
  cursor: pointer;
}

.major-details .key {
  display: inline-block;
  width: 10rem;
  padding: 1%;
  padding-left: 2%;
  background-color: #32174d;
  color: #bfafef;
  /* color: #32174d; */
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.major-details .value {
  display: inline-block;
  width: 30rem;
  padding: 1%;
  padding-right: 2%;
}

.major-details .value-title {
  display: inline-block;
  width: 30rem;
  padding: 1%;
  padding-right: 2%;
  background-color: #32174d;
  color: #bfafef;
  /* color: #fff; */
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.major-details .value:hover {
  background-color: #32174d;
  color: #bfafef;
  /* color: #fff; */
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

@media screen and (max-width: 600px) {
  .major-details .key {
    display: inline-block;
    width: 10rem;
    padding: 1%;
    padding-left: 3%;
    background-color: #32174d;
    color: #bfafef;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
  }
  .major-details .value {
    display: inline-block;
    padding: 1%;
    padding-right: 2%;
  }
  .major-details .value:hover {
    background-color: #bfafef;
    color: #32174d;
  }
}

.text-form {
  color: #32174d;
}

.rating-stars {
  font-size: 1rem;
}

.user-rating {
  padding-top: 1%;
  /* padding-left: 2%; */
}
