@media screen and (max-width: 600px) {
  .side-div-line {
    margin: 1.2%;
  }
}

.filter-button {
  padding-left: 10%;
  font-size: 2.5rem;
  color: #44207a;
}

@media screen and (max-width: 600px) {
  .filter-button {
    padding-left: 2%;
    font-size: 2rem;
  }
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 190%;
  border: 0;
  border-bottom: 2px solid #32174d;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9370db;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #32174d, #9370db);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #32174d;
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.filter-section {
  padding-top: 5%;
}

.filter-section h6 {
  padding-top: 5%;
}

.drop-box-button {
  padding-bottom: 8%;
  padding-top: 3%;
}

.apply-clear-button {
  padding-left: 60%;
}

.offcanvas-body {
  background-color: #bfafef;
  color: #44207a;
}

.offcanvas-header {
  background-color: #9370db;
  color: #32174d;
}

.btn-outline-info {
  border-color: #32174d;
  color: #32174d;
}

.btn-outline-info:hover {
  border-color: #32174d;
  background-color: #9370db;
  color: #32174d;
}
